@model Team
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Delete">
    <h1>
        Are you sure to delete this Doctor
    </h1>
    <div class="card cardCustom alert alert-danger" style="width:auto;">
                <div class="card-body">
            <p class="card-text text-light"><span style="font-weight:bold">Id : </span>  @Model.Id</p>
            <h4 class="text-light"><span style="font-weight:bold">Name : </span>  @Model.Name</h4>
            <h5 class="text-light"><span style="font-weight:bold">Description : </span>  @Model.Description</h5>
            <div><span style="font-weight:bold">Logo : </span><img width="150" height="150" src="~/@Model.Logo"/></div>
                </div>
            </div>
    <br />
    <a class="btn btn-success" asp-action="Index" asp-controller="Teams">No</a> |
        <button class="btn btn-primary" type="submit">Yes</button>
</form>


