@model Team
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card cardCustom" style="width: auto;">
    <div class="card-body">
        <p class="card-text"><span style="font-weight:bold">Id : </span> @Model.Id</p>
        <h4><span style="font-weight:bold">Name : </span> @Model.Name</h4>
        <h3><span style="font-weight:bold">Name : </span> @Model.Description</h3>
        <div><span style="font-weight:bold">Logo : </span><img width="150" height="150" src="~/@Model.Logo"/></div>
    </div>
</div>

<a class="btn btn-info" asp-action="Index" asp-controller="Teams">Back</a>
